In [1]:
def abc(x,y):
    result = x + y
    return result

In [2]:
print(abc(10,20))
print(abc(3,4))
print(abc(5,10))

30
7
15

In [3]:
import pandas as pd
data = pd.read_excel('/Users/zariyahjackson/Desktop/delist_data_final.xlsx')

In [4]:
data

,Assets - Total,Long-Term Debt - Total,Employees,Research and Development Expense,Market Value - Total - Fiscal,delist
0,379.958,68.953,2.035,NaN,NaN,0
1,395.351,67.323,1.840,NaN,NaN,0
2,365.151,66.298,1.780,NaN,NaN,0
3,417.626,115.729,1.860,NaN,NaN,0
4,425.814,119.766,1.940,NaN,NaN,0
...,...,...,...,...,...,...
185604,NaN,NaN,NaN,NaN,NaN,1
185605,NaN,NaN,NaN,NaN,NaN,1
185606,NaN,NaN,NaN,NaN,NaN,1
185607,NaN,NaN,NaN,NaN,NaN,1
185608,NaN,NaN,NaN,NaN,NaN,1

In [5]:
import seaborn as sn
import matplotlib.pyplot as plt
plt.figure(figsize=(7,5))
sn.scatterplot(data = data, x="product_price", y="sales")

ValueError: Could not interpret value `product_price` for `x`. An entry with this name does not appear in `data`.

In [ ]:
data

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
y = data['delist']
x = data.drop(columns=['delist'])

In [ ]:
y

In [ ]:
x

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=1, shuffle=True)

In [ ]:
y_train

In [ ]:
x_train